.container{
  display: flex;
  justify-content: center;
  align-items: center;
  /* flex-direction: column; */
  width: 100%;
  height: 100vh;
  background: linear-gradient(to right, rgb(156, 104, 153),rgb(99, 170, 203)) ;
  background-color: rgba(0, 0, 0, 0.5); /* Làm mờ 50% */
  background-repeat: no-repeat;
  background-size: cover;


}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(79, 78, 78, 0.2); /* Làm mờ 50% */
}